/*@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Sometype+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sometype Mono', monospace;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(/images/wallpaperMundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 6%;
}

form{
    background: #fff;
    width:530px;
    height: 890px;
    padding: 40px;
    border-radius: 20px;
    opacity: 0.9;
}

form h1{
    text-align: center;
    margin-bottom: 10px;
    color: #2D5966;
    font-size: 22pt;
}

form p{
    text-align: center;
    margin-bottom: 40px;
}

form .input-single{
    position: relative;
    margin: 20px 0;
    height: 65px;
}

.input-single i {
    position:absolute;
    right:10px;
    bottom: 40px;
    visibility: hidden;
    font-size: 20px;
  }

  .input-single small{
    visibility: hidden;
  }

form .input-single label{
    position: relative;
    left: 0;
    bottom: 55px;
    cursor: text;
    /*transition: all 0.5s;*/
    color: #808080;
}

form .input-single .label-data{
    opacity: 0;
}

form .input-single .input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #808080;
    padding: 5px;
    outline: 0;
    font-size: 18px;
}

form .input-single .input:focus{
    border-bottom: 2px solid #2D5966;
}

form .input-single .input ~ label,
form .input-single .input ~ label{
    font-size: 18px;
    color: #2D5966;
}

.btn{
    width: 100%;
    text-align: center;
}

#btn-enviar{
    position:relative;
    bottom:45px;
}

form input[type=submit]{
    padding: 10px 40px;
    border: 0;
    border-radius: 10px;
    background-color: #2D5966;
    color: #fff;
    font-size: 14pt;
    cursor: pointer;
    width: 100%;
    position: relative;
    bottom: 0px;
}

/*Error e Sucesso*/

.input-single.success input{
    border-bottom: 2px solid #2ecc71;
}

.input-single.error input{
    border-bottom: 2px solid #e74c3c;
}

.input-single.success i.fa-circle-check{
    color:#2ecc71;
    visibility: visible;
}

.input-single.error i.fa-circle-exclamation{
    color:#e74c3c;
    visibility: visible;
}

.input-single.error small{
    visibility: visible;
    color:#e74c3c;
    position: relative;
    top: -35px;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

#genero{
    font-size: 18px;
    position:absolute;
    bottom:50px;
    color:#2D5966;
}

.form-control{
    cursor: pointer;
    position: absolute;
    bottom: 15px;
}

/*Checkbox*/

#checkbox{
    position:relative;
    bottom:15px;
    font-size: 10px;
    cursor:pointer;
    width: 15px;
    height: 15px;
}

#checkbox-label{
    position: relative;
    bottom:15px;
    cursor:pointer;
    color:#2D5966;
}

#mensagemErro{
    color:#e74c3c;
    visibility: hidden;
    bottom: 80px;
    position: relative;
}

#checkbox-small{
    position: absolute;
    display: flex;
    top: 7px;
    left:40px;
}

/*Button*/

.btn input{
    position:relative;
    bottom:37px;
}

